{% load static %}
<!-- карусель -->
<section>
    <div id="carouselExampleCaptions" class="carousel slide container" data-ride="carousel">
        <div class="carousel-inner">
            {% for slide in slider_list %}
            <div class="carousel-item {{ slide.cms_css}}">
                <img src="{{ slide.cms_img.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="slaider_h">{{ slide.cms_title }}</h5>
                    <p class="slaider_p">{{ slide.cms_text }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>