<!-- Карточки -->
<section>
    <div class="container">
        <h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>
        <div class="row justify-content-center">
            <div class="card product_card" style="width: 18rem; background-color: #cd7f32;">
                <div class="card-body">
                    <h5 class="card-title">BRONZE</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h3>{{ pc_1 }} USD</h3>
                </div>
            </div>
            <div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
                <div class="card-body">
                    <h5 class="card-title">SILVER</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h3>{{ pc_2 }} USD</h3>
                </div>
            </div>
            <div class="card product_card" style="width: 18rem; background-color: #ffd700;">
                <div class="card-body">
                    <h5 class="card-title">GOLD</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h3>{{ pc_3 }} USD</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Таблица -->
<section>
    <div class="container">
        <h1 class="text-3">Цены на услуги</h1>
        <table class="table table_one">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Услуга</th>
                <th scope="col">Старая цена</th>
                <th scope="col">Новая цена</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in price_table %}
            <tr>
                <td>{{ obj.pt_title }}</td>
                <td>
                    <del>{{ obj.pt_old_price }}</del>
                </td>
                <td>{{ obj.pt_new_price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>